@*@model IEnumerable<Fag_el_Gamous.Models.Samples2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel

@{
    ViewData["Title"] = "Detailed Sample Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LocConcat
            </th>
            <th>
                RackNum
            </th>
            <th>
                BagNum
            </th>
            <th>
                LowNs
            </th>
            <th>
                HighNs
            </th>
            <th>
                NS
            </th>
            <th>
                LowEw
            </th>
            <th>
                HighEw
            </th>
            <th>
                EW
            </th>
            <th>
                Area
            </th>
            <th>
                BurialNum
            </th>
            <th>
                SubBurialNum
            </th>
            <th>
                ClusterNum
            </th>
            <th>
                DateDay
            </th>
            <th>
                DateMonth
            </th>
            <th>
                DateYear
            </th>
            <th>
                PreviouslySampled
            </th>
            <th>
                Notes
            </th>
            <th>
                Initials
            </th>
            <th>
                Burial
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Samples) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocConcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BagNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClusterNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviouslySampled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burial.BurialId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SampleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SampleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SampleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
