@*@model IEnumerable<Fag_el_Gamous.Models.Samples2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel

@{
    ViewData["Title"] = "Detailed Sample Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LocConcat
            </th>
            <th>
                RackNum
            </th>
            <th>
                SubBurialNum
            </th>
            <th>
                DateYear
            </th>
            <th>
                Initials
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Samples) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocConcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SampleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SampleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SampleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
