@*@model IEnumerable<Fag_el_Gamous.Models.Samples2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel

@{
    ViewData["Title"] = "Detailed Sample Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}


<div id="accordion">
@*Filter accordion*@
    <div class="card bg-light">
        <div class="text-black" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" style="color:black" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Filters
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="column-count:2">
                <div style="color:black">
                    <partial name="FilterSampleSummary" model="Model.FilterSample" />
                </div>
            </div>
        </div>
    </div>
</div>



<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-parameters="@Model.UrlInfo"
     class="btn-group-sm pull-right m-1">
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                LocConcat
            </th>
            <th>
                RackNum
            </th>
            <th>
                SubBurialNum
            </th>
            <th>
                DateYear
            </th>
            <th>
                Initials
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Samples) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocConcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SampleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SampleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SampleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-parameters="@Model.UrlInfo"
     asp-route-pageNum="1"
     class="btn-group-sm pull-right m-1">
</div>
