@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<MasterBurial2>


<div class="dropdown">
    <form asp-action="Filter" asp-route-pagenum="1" method="post">
        <div class="form-group">
            <select name="filter" class="form-control"
                    asp-items="@(new SelectList(ViewBag.SubPlot, "BurialId", "BurialSubplot", ViewBag.Filters.BurialSubPlot))">
                <option value="all">Burial Subplot</option>
            </select>
        </div>

        <div class="form-group">
            <select name="filter" class="form-control"
                    asp-items="@(new SelectList(ViewBag.Sex, "BurialId", "Sex", ViewBag.Filters.Sex))">
                <option value="all">Sex</option>
            </select>
        </div>

        <div class="form-group">
            <select name="filter" class="form-control"
                    asp-items="@(new SelectList(ViewBag.HairColor, "BurialId", "HairColor", ViewBag.Filters.HairColor))">
                <option value="all">Hair Color</option>
            </select>
        </div>

        <div class="form-group">
            <select name="filter" class="form-control"
                    asp-items="@(new SelectList(ViewBag.EstimateAge, "BurialId", "EstimateAge", ViewBag.Filters.EstimateAge))">
                <option value="all">Estimate Age</option>
            </select>
        </div>

        <div class="form-group">
            <select name="filter" class="form-control"
                    asp-items="@(new SelectList(ViewBag.HeadDirection, "BurialId", "HeadDirection", ViewBag.Filters.HeadDirection))">
                <option value="all">Head Direction</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

