@*@model IEnumerable<Fag_el_Gamous.Models.Carbon2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel


@{
    ViewData["Title"] = "Carbon Dating Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                LocConcat
            </th>
            <th>
                RackNum
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carbons) {
        
        
        <tr>
            <td>
            <a asp-action="Details" asp-route-id="@item.CarbonId"><span class="material-icons">feed</span> </a>
            </td>
            <td>
                @if (item.LocationNs == null && item.LocationEw == null)
                {
                    @Html.Raw("No Coordinates<br/>Burial Num:") @item.BurialNum
                 
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.LocConcat)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNum)
            </td>
            <td>
                @if (item.Description == null)
                {
                    @Html.Raw("See more details...")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.CarbonId">More Details<span class="material-icons">feed</span></a>*@
                <a asp-action="Edit" asp-route-id="@item.CarbonId"><span class="material-icons">edit</span></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.CarbonId"><span class="material-icons">delete_forever</span></a>
            </td>
        </tr>
       

        
}
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
