@*@model IEnumerable<Fag_el_Gamous.Models.Carbon2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel


@{
    ViewData["Title"] = "Carbon Dating Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LocConcat
            </th>
            <th>
                RackNum
            </th>
            <th>
                LocationNs
            </th>
            <th>
                Ns
            </th>
            <th>
                LocationEw
            </th>
            <th>
                Ew
            </th>
            <th>
                BurialSubplot
            </th>
            <th>
                Area
            </th>
            <th>
                BurialNum
            </th>
            <th>
                RackAlt
            </th>
            <th>
                TubeNum
            </th>
            <th>
                Description
            </th>
            <th>
                SizeMl
            </th>
            <th>
                Foci
            </th>
            <th>
                C14Sample2017
            </th>
            <th>
                Location
            </th>
            <th>
                Questions
            </th>
            <th>
                Num
            </th>
            <th>
                Conventional14cAgeBp
            </th>
            <th>
                CCalendarDate
            </th>
            <th>
                Calibrated95PercentCalendarDateMax
            </th>
            <th>
                Calibrated95PercentCalendarDateMin
            </th>
            <th>
                Calibrated95PercentCalendarDateSpan
            </th>
            <th>
                Calibrated95PercentCalendarDateAvg
            </th>
            <th>
                Category
            </th>
            <th>
                Notes
            </th>
            <th>
                Burial
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carbons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocConcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSubplot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TubeNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeMl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C14Sample2017)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conventional14cAgeBp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCalendarDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated95PercentCalendarDateMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated95PercentCalendarDateMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated95PercentCalendarDateSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated95PercentCalendarDateAvg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burial.BurialId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarbonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarbonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarbonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
