@model IEnumerable<Fag_el_Gamous.Models.MasterBurial2>

@{
    ViewData["Title"] = "Index";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocConcat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialSubplot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WestToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WestToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthOfRemains)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialSituation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderGe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderBodyCol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasilarSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentralArc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubpubicAngle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SciaticNotch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicBone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreaurSulcus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialIpRamus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorsalPitting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForemanMagnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osteophytosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicSymphysis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialClavicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IliacCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humerus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TibiaLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Robust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupraorbitalRidges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrbitEdge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalBossing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuchalCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZygomaticCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CranialSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionNasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterorbitalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreservationIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairTakenTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftTissueTakenTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneTakenTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothTakenTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextileTakenTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactFoundTf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothEruption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathologyAnomalies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpiphysealUnion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialicon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialicon2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexmethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ageatdeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agemethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haircolor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOnSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthOnSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOnSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldBookPageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialsOfDataEntryExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialsOfDataEntryChecker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ByuSample)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyAnalysis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkullAtMagazine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostcraniaAtMagazine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackAndShelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToBeConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkullTrauma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostcraniaTrauma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CribraOrbitala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoroticHyperostosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoroticHyperostosisLocations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetopicSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButtonOsteoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaHillBurials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tomb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialSubNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearExcav)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthExcavated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExcavated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialPreservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialWrapping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialAdultChild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialgendermethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeCodeSingle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialageatdeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialagemethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialhaircolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burialsampletaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clstr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceBundle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsteologyNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocConcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSubplot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WestToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WestToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfRemains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSituation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderGe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeFunctionTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderBodyCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasilarSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentralArc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubpubicAngle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SciaticNotch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicBone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreaurSulcus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialIpRamus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorsalPitting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForemanMagnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osteophytosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicSymphysis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialClavicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IliacCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humerus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TibiaLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Robust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupraorbitalRidges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrbitEdge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalBossing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuchalCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZygomaticCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CranialSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionBregmaHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionNasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionProsthionLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BizygomaticDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasionProsthion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNasalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterorbitalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtifactsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreservationIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairTakenTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftTissueTakenTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneTakenTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothTakenTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextileTakenTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtifactFoundTf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateLivingStature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothAttrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothEruption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathologyAnomalies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpiphysealUnion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialicon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialicon2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ageatdeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agemethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haircolor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sample)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOnSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthOnSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOnSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldBookPageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialsOfDataEntryExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialsOfDataEntryChecker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ByuSample)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyAnalysis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkullAtMagazine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostcraniaAtMagazine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackAndShelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToBeConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkullTrauma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostcraniaTrauma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CribraOrbitala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoroticHyperostosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoroticHyperostosisLocations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetopicSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonOsteoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsteologyUnknownComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalMandibularJointOsteoarthritisTmjOa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinearHypoplasiaEnamel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaHillBurials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tomb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSubNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearExcav)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthExcavated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExcavated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPreservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialWrapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialAdultChild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialgendermethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeCodeSingle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialageatdeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialagemethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialhaircolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burialsampletaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clstr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceBundle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsteologyNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
