@*@model IEnumerable<Fag_el_Gamous.Models.MasterBurial2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel


@{
    ViewData["Title"] = "Main Burial Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";

}



<div id="accordion">
    @*Tips accordion*@
    <div class="card bg-light">
        <div class="text-black" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-block" style="color:black" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Filter Tips
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body" >
                <div style="color:black">

                    <ul>
                        <li>Using the <b>filter</b> pane below, you can first filter all the records that are displayed in the table below.</li>
                        <li>Once filtered, the <b>search bar</b> above the table is an extremely powerful tool to find detailed results. Case and order is ignored to help you better query the data, and "quotes" can be used when searching for exact definitions. </li>
                        <li>Clicking on the <b>arrows</b> next to the column name will sort by ascending or descending order.</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<div id="accordion">
    @*Filter accordion*@
    <div class="card bg-light">
        <div class="text-black" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-block" style="color:black" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Filters
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="column-count:2">
                <div style="color:black">
                    <partial name="FilterSummary" model="Model.Filter" />
                </div>
            </div>
        </div>
    </div>
</div>






@*<div page-info="@Model.PageNumberingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-parameters="@Model.UrlInfo"
         class="btn-group-sm pull-right m-1">
    </div>*@


@if (ViewData["isAdmin"] is true || ViewData["isResearcher"] is true)
{
    <a style="float:right" asp-action="Create">New Record <span class="material-icons">note_add</span></a>
}
else
{
    <span style="float:right">New Record <span rel="tooltip" data-placement="bottom" data-original-title="Only Admins and Researchers can Create Records" class="material-icons">note_add</span></span>
}

<br />
<br />

<div id="loaderDiv" class="text-center"><i class="fas fa-circle-notch fa-spin fa-2x"></i><p>Excavating Mummies...</p></div>


<div id="tableDiv" style="display:none" class="table-responsive-xl">

    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Linked Bio Sample</th>
                <th>Linked C14 Sample</th>
                <th>Details</th>
                <th>
                    Location
                </th>
                <th>
                    Burial Depth
                </th>
                <th>
                    S To Head
                </th>
                <th>
                    S To Feet
                </th>
                <th>
                    W To Head
                </th>
                <th>
                    W To Feet
                </th>
                <th>
                    Length Of Remains
                </th>
                <th>
                    Hair Color
                </th>
                <th>
                    Notes
                </th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Burials)
            {
                <tr>
                    <td>
                        @foreach (var item2 in ViewBag.SampleBurialList)
                        {
                            @if (item.BurialId == item2.BurialId)
                            {
                                <a style="font-size:x-small" target="_blank" href="/Samples2/Details/@item2.SampleId"><span class="material-icons">science</span>@item2.SampleId<hr style="position:relative; bottom: 10px" /></a>

                            }
                        }
                    </td>
                    <td>
                        @foreach (var item2 in ViewBag.CarbonBurialList)
                        {
                            @if (item.BurialId == item2.BurialId)
                            {
                                <a style="font-size:x-small" target="_blank" href="/Carbon2/Details/@item2.CarbonId"><span class="material-icons">biotech</span>@item2.CarbonId<hr style="position:relative; bottom: 10px" /></a>

                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BurialId"><span class="material-icons">description</span> </a>


                        @foreach (var item5 in ViewBag.PhotoBurialList)
                         {
                            @if (item.BurialId == item5.BurialId)
                             {
                                <a asp-action="Details" asp-route-id="@item.BurialId"><span class="material-icons">image</span> </a>
                             }
                         }



                    </td>
                    <td>
                        @if ((item.LowPairNs == null && item.LowPairEw == null) || item.LocConcat == "#VALUE!" || item.LocConcat == "#REF!" || item.LocConcat == "null")
                        {
                            @Html.Raw("No Coordinates<br/>Burial Num:") @item.BurialId

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.LocConcat)
                        }
                    </td>
                    <td>
                        @if (item.BurialDepth == null || item.BurialDepth == "" || item.BurialDepth == "U" || item.BurialDepth == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.BurialDepth)
                        }
                    </td>
                    <td>
                        @if (item.SouthToHead == null || item.SouthToHead == "" || item.SouthToHead == "U" || item.SouthToHead == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.SouthToHead)
                        }

                    </td>
                    <td>
                        @if (item.SouthToFeet == null || item.SouthToFeet == "" || item.SouthToFeet == "U" || item.SouthToFeet == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.SouthToFeet)
                        }

                    </td>
                    <td>
                        @if (item.WestToHead == null || item.WestToHead == "" || item.WestToHead == "U" || item.WestToHead == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.WestToHead)
                        }

                    </td>
                    <td>
                        @if (item.WestToFeet == null || item.WestToFeet == "" || item.WestToFeet == "U" || item.WestToFeet == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.WestToFeet)
                        }
                    </td>
                    <td>
                        @if (item.LengthOfRemains == null || item.LengthOfRemains == "" || item.LengthOfRemains == "U" || item.LengthOfRemains == "NA")
                        {
                            @Html.Raw("")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.LengthOfRemains)
                        }
                    </td>
                    <td>
                        @if (item.Burialhaircolor is null || item.Burialhaircolor == "" || item.Burialhaircolor == "U")
                        {
                            @if (item.HairColor is null || item.HairColor == "" || item.HairColor == "U")
                            {
                                @if (item.Haircolor1 is null || item.Haircolor1 == "" || item.Haircolor1 == "U")
                                {
                                    @Html.Raw("")
                                }
                                else
                                {
                                    @item.Haircolor1.ToUpper()
                                }
                            }
                            else
                            {
                                @item.HairColor.ToUpper()
                            }
                        }
                        else
                        {
                            @item.Burialhaircolor.ToUpper()
                        }
                    </td>
                    <td>
                        @*@if (item.BurialSituation == null || item.BurialSituation.Length < 20)
        {
            @Html.Raw("See details...")
        }
        else
        {
            @item.BurialSituation.Substring(0, 19) @Html.Raw("...")


        }*@
                        @if (item.BurialSituation == null || item.BurialSituation == "")
                        {
                            @if (item.OsteologyNotes == null || item.OsteologyNotes == "")
                            {

                                @Html.Raw("See Details...")
                            }
                            else
                            {
                                @item.OsteologyNotes
                            }

                        }
                        else
                        {
                            @item.BurialSituation
                        }
                       
                    </td>
                    <td>
                        @if (ViewData["isAdmin"] is true || ViewData["isResearcher"] is true)
                        {
                            <a asp-action="Edit" asp-route-id="@item.BurialId"><span class="material-icons">edit</span></a>
                        }
                        else
                        {
                            <span rel="tooltip" data-placement="bottom" data-original-title="Only Admins and Researchers can Edit Records" class="material-icons">edit</span>
                        }
                    </td>
                    <td>
                        @if (ViewData["isAdmin"] is true)
                        {
                            <a asp-action="Delete" asp-route-id="@item.BurialId"><span class="material-icons">delete_forever</span></a>

                        }
                        else
                        {
                            <span rel="tooltip" data-placement="bottom" data-original-title="Only Admins can Delete Records" class="material-icons">delete_forever</span>
                        }
                    </td>
  
                </tr>
            }
        </tbody>
    </table>
</div>






@*<div page-info="@Model.PageNumberingInfo"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-parameters="@Model.UrlInfo"
         class="btn-group-sm pull-right m-1">
    </div>*@

@section scripts {
    <script>

        $(document).ready(function () {

            $('#table').DataTable({
                //buttons: ['searchPanes',],
                dom: 'B<"row mt-3"<"col-lg-6"l><"col-lg-6"f>>rtip',
                //dom: 'Pfrtip',
                columnDefs: [
                    {
                        searchPanes: {
                            show: true

                        },
                        targets: [1, 2, 4, 5],
                    },
                    {
                        "searchable": false,
                        "orderable": false,
                        targets: [ 3, 12, 13],
                    },
                    {
                        "className": "text-left",
                        "targets": 5

                    },

                ],



            });

        });

        $('#loaderDiv').fadeOut(2200);
        $('#tableDiv').slideUp(300).delay(2600).fadeIn(400);












    </script>
}
