@*@model IEnumerable<Fag_el_Gamous.Models.MasterBurial2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel


@{
    ViewData["Title"] = "Main Burial Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<div>
    <partial name="FilterSummary" model="Model.Filter"/>
</div>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-parameters="@Model.UrlInfo"
     class="btn-group-sm pull-right m-1">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                LocConcat
            </th>
            <th>
                BurialDepth
            </th>
            <th>
                SouthToHead
            </th>
            <th>
                SouthToFeet
            </th>
            <th>
                WestToHead
            </th>
            <th>
                WestToFeet
            </th>
            <th>
                LengthOfRemains
            </th>
            <th>
                Burial Situation
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Burials)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BurialId"><span class="material-icons">feed</span> </a>
                </td>
                <td>
                    @if ((item.LowPairNs == null && item.LowPairEw == null) || item.LocConcat == "#VALUE!")
                    {
                        @Html.Raw("No Coordinates<br/>Burial Num:") @item.BurialId

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LocConcat)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialDepth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouthToHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouthToFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WestToHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WestToFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthOfRemains)
                </td>
                <td>
                    @if (item.BurialSituation == null || item.BurialSituation.Length < 20)
                    {
                        @Html.Raw("See more details...")
                    }
                    else
                    {
                        @item.BurialSituation.Substring(0, 20) @Html.Raw("...")

                        @*@Html.DisplayFor(modelItem => item.BurialSituation) @Html.Raw("...")*@
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BurialId"><span class="material-icons">edit</span></a>
                </td>
                    @*<a asp-action="Details" asp-route-id="@item.BurialId">Details</a>*@
                <td>
                    <a asp-action="Delete" asp-route-id="@item.BurialId"><span class="material-icons">delete_forever</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-parameters="@Model.UrlInfo"
     class="btn-group-sm pull-right m-1">
</div>*@
