@*@model IEnumerable<Fag_el_Gamous.Models.MasterBurial2>*@
@using Fag_el_Gamous.Models.ViewModels

@model PaginationViewModel


@{
    ViewData["Title"] = "Main Burial Data";
    ViewBag.pageType = "profile-page";
    ViewBag.Background = "/img/tent.jpg";
}

<h1>Index</h1>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LocConcat
            </th>
            <th>
                BurialLocationNs
            </th>
            <th>
                LowPairNs
            </th>
            <th>
                HighPairNs
            </th>
            <th>
                BurialLocationEw
            </th>
            <th>
                LowPairEw
            </th>
            <th>
                HighPairEw
            </th>
            <th>
                BurialSubplot
            </th>
            <th>
                BurialNumber
            </th>
            <th>
                BurialDepth
            </th>
            <th>
                SouthToHead
            </th>
            <th>
                SouthToFeet
            </th>
            <th>
                WestToHead
            </th>
            <th>
                WestToFeet
            </th>
            <th>
                LengthOfRemains
            </th>
            <th>
                BurialSituation
            </th>
            <th>
                SampleNumber
            </th>
            <th>
                GenderGe
            </th>
            <th>
                GeFunctionTotal
            </th>
            <th>
                GenderBodyCol
            </th>
            <th>
                BasilarSuture
            </th>
            <th>
                VentralArc
            </th>
            <th>
                SubpubicAngle
            </th>
            <th>
                SciaticNotch
            </th>
            <th>
                PubicBone
            </th>
            <th>
                PreaurSulcus
            </th>
            <th>
                MedialIpRamus
            </th>
            <th>
                DorsalPitting
            </th>
            <th>
                ForemanMagnum
            </th>
            <th>
                FemurHead
            </th>
            <th>
                HumerusHead
            </th>
            <th>
                Osteophytosis
            </th>
            <th>
                PubicSymphysis
            </th>
            <th>
                BoneLength
            </th>
            <th>
                MedialClavicle
            </th>
            <th>
                IliacCrest
            </th>
            <th>
                FemurDiameter
            </th>
            <th>
                Humerus
            </th>
            <th>
                FemurLength
            </th>
            <th>
                HumerusLength
            </th>
            <th>
                TibiaLength
            </th>
            <th>
                Robust
            </th>
            <th>
                SupraorbitalRidges
            </th>
            <th>
                OrbitEdge
            </th>
            <th>
                ParietalBossing
            </th>
            <th>
                Gonian
            </th>
            <th>
                NuchalCrest
            </th>
            <th>
                ZygomaticCrest
            </th>
            <th>
                CranialSuture
            </th>
            <th>
                MaximumCranialLength
            </th>
            <th>
                MaximumCranialBreadth
            </th>
            <th>
                BasionBregmaHeight
            </th>
            <th>
                BasionNasion
            </th>
            <th>
                BasionProsthionLength
            </th>
            <th>
                BizygomaticDiameter
            </th>
            <th>
                NasionProsthion
            </th>
            <th>
                MaximumNasalBreadth
            </th>
            <th>
                InterorbitalBreadth
            </th>
            <th>
                ArtifactsDescription
            </th>
            <th>
                HairColor
            </th>
            <th>
                PreservationIndex
            </th>
            <th>
                HairTakenTf
            </th>
            <th>
                SoftTissueTakenTf
            </th>
            <th>
                BoneTakenTf
            </th>
            <th>
                ToothTakenTf
            </th>
            <th>
                TextileTakenTf
            </th>
            <th>
                ArtifactFoundTf
            </th>
            <th>
                DescriptionOfTaken
            </th>
            <th>
                EstimateAge
            </th>
            <th>
                EstimateLivingStature
            </th>
            <th>
                ToothAttrition
            </th>
            <th>
                ToothEruption
            </th>
            <th>
                PathologyAnomalies
            </th>
            <th>
                EpiphysealUnion
            </th>
            <th>
                YearFound
            </th>
            <th>
                MonthFound
            </th>
            <th>
                DayFound
            </th>
            <th>
                HeadDirection
            </th>
            <th>
                Preservation
            </th>
            <th>
                Burialicon
            </th>
            <th>
                Burialicon2
            </th>
            <th>
                Sex
            </th>
            <th>
                Sexmethod
            </th>
            <th>
                Ageatdeath
            </th>
            <th>
                Agemethod
            </th>
            <th>
                Haircolor1
            </th>
            <th>
                Sample
            </th>
            <th>
                YearOnSkull
            </th>
            <th>
                MonthOnSkull
            </th>
            <th>
                DateOnSkull
            </th>
            <th>
                FieldBook
            </th>
            <th>
                FieldBookPageNumber
            </th>
            <th>
                InitialsOfDataEntryExpert
            </th>
            <th>
                InitialsOfDataEntryChecker
            </th>
            <th>
                ByuSample
            </th>
            <th>
                BodyAnalysis
            </th>
            <th>
                SkullAtMagazine
            </th>
            <th>
                PostcraniaAtMagazine
            </th>
            <th>
                SexSkull
            </th>
            <th>
                AgeSkull
            </th>
            <th>
                RackAndShelf
            </th>
            <th>
                ToBeConfirmed
            </th>
            <th>
                SkullTrauma
            </th>
            <th>
                PostcraniaTrauma
            </th>
            <th>
                CribraOrbitala
            </th>
            <th>
                PoroticHyperostosis
            </th>
            <th>
                PoroticHyperostosisLocations
            </th>
            <th>
                MetopicSuture
            </th>
            <th>
                ButtonOsteoma
            </th>
            <th>
                OsteologyUnknownComment
            </th>
            <th>
                TemporalMandibularJointOsteoarthritisTmjOa
            </th>
            <th>
                LinearHypoplasiaEnamel
            </th>
            <th>
                AreaHillBurials
            </th>
            <th>
                Tomb
            </th>
            <th>
                BurialSubNumber
            </th>
            <th>
                YearExcav
            </th>
            <th>
                MonthExcavated
            </th>
            <th>
                DateExcavated
            </th>
            <th>
                BurialDirection
            </th>
            <th>
                BurialPreservation
            </th>
            <th>
                BurialWrapping
            </th>
            <th>
                BurialAdultChild
            </th>
            <th>
                GenderCode
            </th>
            <th>
                Burialgendermethod
            </th>
            <th>
                AgeCodeSingle
            </th>
            <th>
                Burialageatdeath
            </th>
            <th>
                Burialagemethod
            </th>
            <th>
                HairColorCode
            </th>
            <th>
                Burialhaircolor
            </th>
            <th>
                Burialsampletaken
            </th>
            <th>
                LengthM
            </th>
            <th>
                LengthCm
            </th>
            <th>
                Goods
            </th>
            <th>
                Clstr
            </th>
            <th>
                FaceBundle
            </th>
            <th>
                OsteologyNotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Burials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocConcat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowPairNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighPairNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationEw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowPairEw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighPairEw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSubplot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialDepth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouthToHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouthToFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WestToHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WestToFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthOfRemains)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSituation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderGe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeFunctionTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderBodyCol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasilarSuture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VentralArc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubpubicAngle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SciaticNotch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubicBone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreaurSulcus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedialIpRamus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DorsalPitting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForemanMagnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FemurHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HumerusHead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osteophytosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubicSymphysis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoneLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedialClavicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IliacCrest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FemurDiameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humerus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FemurLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HumerusLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TibiaLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Robust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupraorbitalRidges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrbitEdge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParietalBossing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gonian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NuchalCrest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZygomaticCrest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CranialSuture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumCranialLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumCranialBreadth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasionBregmaHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasionNasion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasionProsthionLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BizygomaticDiameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NasionProsthion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumNasalBreadth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterorbitalBreadth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtifactsDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreservationIndex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairTakenTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftTissueTakenTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoneTakenTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToothTakenTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextileTakenTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtifactFoundTf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionOfTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateLivingStature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToothAttrition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToothEruption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PathologyAnomalies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EpiphysealUnion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearFound)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthFound)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayFound)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeadDirection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preservation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialicon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialicon2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexmethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ageatdeath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agemethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Haircolor1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sample)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOnSkull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthOnSkull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOnSkull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldBook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldBookPageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialsOfDataEntryExpert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialsOfDataEntryChecker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ByuSample)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyAnalysis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkullAtMagazine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostcraniaAtMagazine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexSkull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeSkull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RackAndShelf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToBeConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkullTrauma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostcraniaTrauma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CribraOrbitala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoroticHyperostosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoroticHyperostosisLocations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetopicSuture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ButtonOsteoma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OsteologyUnknownComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemporalMandibularJointOsteoarthritisTmjOa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinearHypoplasiaEnamel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaHillBurials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tomb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSubNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearExcav)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthExcavated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateExcavated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialDirection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialPreservation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialWrapping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialAdultChild)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialgendermethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeCodeSingle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialageatdeath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialagemethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HairColorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialhaircolor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burialsampletaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthCm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Goods)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clstr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaceBundle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OsteologyNotes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
